Repository synchronizing/Sports-Portfolio, pull requests merged in 2019-04, with the labels that each got.

#19 Fixed Dockerfile configuration.
  Dockerfile
  docker-compose.yml
Labels: enhancement

#18 Th/mongocontrollers
  package.json
  server/config/config.js
  server/controllers/card.controller.js
  server/controllers/order.controller.js
  server/models/JsonToMongo.js
  server/models/card.model.js
  server/models/card.model.test.js
  server/models/cards.json
  server/models/order.model.js
  server/models/user.model.js
  server/routes/index.route.js
  server/routes/userapi.route.js
Labels: enhancement, js, mongo

#25 Created simple card displaying navigator.
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.module.ts
  src/app/home/home.component.html
  src/app/navigator/navigator.component.html
  src/app/navigator/navigator.component.scss
  src/app/navigator/navigator.component.spec.ts
  src/app/navigator/navigator.component.ts
  src/index.html
Labels: css, enhancement, html, js
